/.phpunit.cache
.phpunit.cache
/node_modules
node_modules/
/node_modules/
node_modules/*
.DS_Store
/public/build
public/build
/public/hot
public/hot
/public/storage
public/storage
/storage/*.key
storage/*.key
/vendor
vendor
.env
.env.backup
.env.example
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
.zed
.vscode
.idea
.fleet